body{
    overflow-x: hidden;
}
#input-box-cmd{
    background-color: black;
    border: none;
    width: 412px;
    height: 22px;
    color: white;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
	text-align: left;
    padding:0;
/*    line-height: 100px;*/
    vertical-align: top;
    font-size: 19px;
}
#locked-text{
    background-color: black;
    color: white;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
/*    line-height: 22px;*/
    font-size: 19px;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
#history{
    background-color: black;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    color: white;
    width: 481px;
    height: 195px;
    overflow: hidden;
/*    text-overflow: ellipsis;*/
    text-align: bottom;
    vertical-align: bottom;
    font-size: 19px;
    padding: 0;
    margin: 0;
    display: inline-block;
}
#canvas{
/*    float: left;*/
/*    clear: both;*/
}
input{
    color: red;
}