body, html {
  padding: 0;
  margin: 0;
}
#input-box-cmd, #locked-text, #history {
  background-color: black;
  color: #FFB000;
  font-family: monospace; 
  font-size: 19px;
  padding: 0;
}
#textenter, #history {
  width: 100%;
}
#locked-text {
  width: 4em;
  text-align: right;
  display: inline-block;
}
#input-box-cmd {
  border: none;
  height: 22px;
	text-align: left;
  /* W3C stupidiy compensation factor */
  width: calc(100% - 4em);
}
#history {
  height: calc(5 * 20px);
  line-height: 20px;
  border-top: 1px solid #FFB000;
  overflow: hidden;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
  display: inline-block;
  padding-left: 4em;
  width: calc(100% - 4em);
}

input:focus {
  outline: none;
}
#canvas{
  clear: both;
  background-color: black;
}

#canvas, #controls {
  display: block;
}
